
header {
    background-color: black;
    color: antiquewhite;
        
    }
section {
    background-color: black;
    color: antiquewhite;
    height: 1000px;
    }
footer {
    background-color: black;
    color: antiquewhite;
    text-align: center;
    }
    